<!DOCTYPE html> 
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <title>My Website - About</title> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}" />
</head> 
<body> 
    <h1>Hector Riettie</h1> 
    <p>I am a student at the University of the West Indies, pursuing a degree in Computer Science. I like to play chess and prefer silent areas, I am interested in Web Development because I love the creative process of bringing an idea to life on the internet, from the initial design to the final interactive product that people can use.</p> 
    
    <img src="{{ url_for('static', filename='download.jpg') }}" alt="Abandoned airplane in a forest" style="max-width: 100%; height: auto; border-radius: 8px; margin-top: 20px;" />
</body> 
</html>